#
# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

if BOARD_KAPL_BLE_LEFT

config ZMK_KEYBOARD_NAME
	default "Kapl BLE"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # BOARD_KAPL_BLE_LEFT


if BOARD_KAPL_BLE_LEFT || BOARD_KAPL_BLE_RIGHT

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

config BOARD
	default "kapl_ble"

config BT_CTLR
	default BT

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif # BOARD_KAPL_BLE_LEFT || BOARD_KAPL_BLE_RIGHT
